<!-- from https://vuetifyjs.com/ko/getting-started/quick-start#cdn-%EC%82%AC%EC%9A%A9%ED%95%98%EA%B8%B0 -->
<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <style>
        /* https://github.com/vuetifyjs/vuetify/issues/9285 */
        .v-list-item-group > .theme--dark.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled){ color: #78909C !important; }
        .v-list-item-group > .theme--dark.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) .theme--dark.v-icon { color: #78909C !important; }
        .not-implemented * { text-decoration: line-through; color: #78909C !important; }

        /* .v-list--nav .v-select { background: red;} */
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <!-- https://github.com/vuetifyjs/vuetify/blob/master/packages/docs/src/layouts/layouts/demos/sandbox.vue#L10 -->
            <v-navigation-drawer app v-model="drawer"
                class="blue-grey darken-3"
                :mini-variant="miniVariant">
                <v-list dense nav flat expand class="py-0">
                    <v-list-item two-line :class="miniVariant && 'px-0'">
                        <v-list-item-avatar>
                            <img src="https://randomuser.me/api/portraits/men/81.jpg">
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title>
                                <v-select dense falt hide-details
                                  class="caption" placeholder="Realm"
                                  :items="realms" item-text="name"
                                  v-model="global.realm"
                                  return-object
                                  @change="getProjects">
                                </v-select>
                            </v-list-item-title>
                            <v-list-item-subtitle>
                                <v-select dense falt hide-details
                                  class="caption" placeholder="Project"
                                  :items="projects" item-text="name"
                                  v-model="global.project"
                                  return-object>
                                </v-select>
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>

                    <v-divider></v-divider>
                    
                    <v-list-item-group mandatory v-model="selected">
                        <template v-for="(val, name) in items">
                            <v-subheader class="text-uppercase blue-grey--text text--darken-1">
                                {{ name }}
                            </v-subheader>

                            <v-list-item v-for="item in val" :key="item.title" :to="item.link"
                                    :disabled="!item.link"
                                    :class="!item.link && 'not-implemented'">
                                <v-list-item-icon>
                                    <v-icon>{{ item.icon }}</v-icon>
                                </v-list-item-icon>
                                <v-list-item-content>
                                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </template>
                    </v-list-item-group>
                </v-list>
            </v-navigation-drawer>

            <v-content class="blue-grey darken-4">
                <v-container fluid>
                    <router-view></router-view>
                </v-container>
            </v-content>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script> <!-- https://router.vuejs.org/kr/guide/ -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="index.js"></script>
</body>

</html>